* {
font-family: sans-serif;
font-size: 20px;
}

html,body {
height: 100%
}

header {
height: 50px;
border-bottom: 1px solid grey;
background-color: #F1F1F1;
}

#alertDiv {
position: absolute;
width: 200px;
margin: auto 150px;
background-color: GRAY;
border: 1px solid;
padding: 30px;
box-shadow: 10px 10px 5px #888888;
}

header h1 {
font-size: 1.6em;
font-weight: bold;
margin-left: 50px;
line-height: 50px;
}

.top_menu {
position: absolute;
float: right;
right: 65px;
top: 15px;
}

.top_menu h2 a {
font-size: 0.9em;
font-weight: bold;
color: black;
text-decoration: none;
}

.top_menu h2 a:hover {
color: #A32824;
}

.left_menu {
float: left;
width: 270px;
height: 100%;
background-color: #F1F1F1;
border-right: 1px solid grey;
}

.left_menu h2 {
font-size: 0.9em;
font-weight: bold;
margin-top: 20px;
margin-bottom: 10px;
margin-left: 5px;
}

ul.operations {
margin-left: 45px;
width: 220px;
}

ul.operations li a {
display: block;
font-size: 1.1em;
font-weight: bold;
text-decoration: none;
color: black;
padding: 7px 5px 7px 5px;
}

ul.operations li a:hover {
color: white;
background-color: #A32824;
}

.content {
margin-left: 360px;
width: 810px;
height: 100%;
font-size: 1.2em;
font-weight: none;
}

.content h2 {
font-size: 1.2em;
font-weight: bold;
color: black;
text-decoration: none;
}

.content h2 a {
font-size: 0.8em;
font-weight: bold;
color: black;
text-decoration: underline;
}

.header {
margin-left: 360px;
font-size: 1.2em;
font-weight: bold;
color: black;
text-decoration: none;
}

.booklist table {
border-collapse: collapse;
}

.booklist table td {
padding: 10px;
}

.booklist table thead td {
font-weight: bold;
}

/* book_edit_form */
.book_edit_form {
width: 600px;
margin-right: auto;
/*margin-left: auto;*/
background: #F1F1F1;
padding: 20px 30px 20px 30px;
font: 12px Georgia, "Times New Roman", Times, serif;
color: black;
font-weight: bold;
text-shadow: 1px 1px 1px #FFF;
border: 2px solid #DADADA;
}

.book_edit_form h1 {
font: 25px Georgia, "Times New Roman", Times, serif;
font-weight: bold;
color: black;
padding: 0px 0px 10px 40px;
display: block;
border-bottom: 1px solid #DADADA;
margin: -10px -30px 30px -30px;
}

.book_edit_form h1>span {
display: block;
font-size: 14px;
}

.book_edit_form label {
display: block;
margin: 0px 0px 5px;
}

.book_edit_form label>span {
float: left;
width: 90px;
text-align: right;
padding-right: 10px;
margin-top: 10px;
color: black;
}

.textlabel label {
display: block;
margin: 0px 0px 5px;
float: left;
width: 300px;
text-align: left;
padding-left: 10px;
margin-top: 10px;
font: 12px Georgia, "Times New Roman", Times, serif;
color: black;
font-weight: bold;
color: black;
}

.book_edit_form input[type="text"],.book_edit_form textarea,.book_edit_form select
{
border: 1px solid #DADADA;
color: black;
height: 24px;
margin-bottom: 16px;
margin-right: 6px;
margin-top: 2px;
outline: 0 none;
padding: 3px 3px 3px 5px;
width: 70%;
font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}

.book_edit_form select {
background: #FFF url('down-arrow.png') no-repeat right;
background: #FFF url('down-arrow.png') no-repeat right);
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
width: 72%;
height: 30px;
}

.book_edit_form textarea {
height: 100px;
}

.book_edit_form input[type="submit"] {
background: #E48F8F;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
}

.book_edit_form input[type="submit"]:hover {
background: #CF7A7A
}
.home_display{
width: 100%;
margin-right: auto;
/*margin-left: auto;*/
background: #F1F1F1;
padding: 20px 30px 20px 30px;
font: 14px Georgia, "Times New Roman", Times, serif;
color: black;
/* font-weight: bold; */
text-shadow: 1px 1px 1px #FFF;
border: 2px solid #DADADA;

}


.home_display h7 {
font: 25px Georgia, "Times New Roman", Times, serif;
font-weight: bold;
color: black;
padding: 0px 0px 10px 40px;
display: block;
border-bottom: 1px solid #DADADA;
margin: -10px -30px 30px -30px;
}
.home_mostBorrowed {
width: 90%;
margin-right: auto;
/*margin-left: auto;*/
background: #F1F1F1;
padding: 20px 30px 20px 30px;
font: 12px Georgia, "Times New Roman", Times, serif;
color: black;
font-weight: bold;
text-shadow: 1px 1px 1px #FFF;
border: 2px solid #DADADA;
}

.home_display h8 {
font: 13px Georgia, "Times New Roman", Times, serif;
text-align:center;
font-weight: bold;
color: black;
padding: 0px 0px 10px 40px;
display: block;
border-bottom: 1px solid #DADADA;
margin: -10px -30px 30px -30px;
}
/* globalSettings_edit_form */
.globalSettings_edit_form {
width: 600px;
margin-right: auto;
/*margin-left: auto;*/
background: #F1F1F1;
padding: 20px 30px 20px 30px;
font: 12px Georgia, "Times New Roman", Times, serif;
color: black;
font-weight: bold;
text-shadow: 1px 1px 1px #FFF;
border: 2px solid #DADADA;
}

.globalSettings_edit_form h1 {
font: 25px Georgia, "Times New Roman", Times, serif;
font-weight: bold;
color: black;
padding: 0px 0px 10px 40px;
display: block;
border-bottom: 1px solid #DADADA;
margin: -10px -30px 30px -30px;
}

.globalSettings_edit_form h1>span {
display: block;
font-size: 14px;
}

.globalSettings_edit_form label {
display: block;
margin: 0px 0px 5px;
width: 40%;
}

.globalSettings_edit_form label>span {
float: left;
width: 180px;
text-align: left;
padding-right: 10px;
margin-top: 10px;
color: black;
}

.textlabel label {
display: block;
margin: 0px 0px 5px;
float: left;
width: 300px;
text-align: left;
padding-left: 10px;
margin-top: 10px;
font: 12px Georgia, "Times New Roman", Times, serif;
color: black;
font-weight: bold;
color: black;
}

.globalSettings_edit_form input[type="text"],.globalSetting_edit_form textarea,.globalSetting_edit_form select
{
border: 1px solid #DADADA;
color: black;
height: 24px;
margin-bottom: 16px;
margin-right: 6px;
margin-top: 2px;
outline: 0 none;
padding: 3px 3px 3px 5px;
width: 8%;
font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}

.globalSettings_edit_form select {
background: #FFF url('down-arrow.png') no-repeat right;
background: #FFF url('down-arrow.png') no-repeat right);
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
width: 72%;
height: 30px;
}

.globalSettings_edit_form textarea {
height: 100px;
}

.globalSettings_edit_form input[type="submit"] {
background: #E48F8F;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
}

.globalSettings_edit_form input[type="submit"]:hover {
background: #CF7A7A
}

.pagination li {
   display: inline;
   margin-left: 0.5em;
   margin-right: 0.5em;
}